<!DOCTYPE html>

<title>Bill</title>

{% block body %}
    <h1>Bill</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bill.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ bill.date ? bill.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ bill.number }}</td>
            </tr>
            <tr>
                <th>Customerid</th>
                <td>{{ bill.customerid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bill_index') }}">back to list</a>
    
    <a href="{{ path('billrow_index',{'id': bill.id}) }}">row index</a>

    <a href="{{ path('bill_edit', {'id': bill.id}) }}">edit</a>

    {{ include('bill/_delete_form.html.twig') }}
{% endblock %}
